<!DOCTYPE html>
<html lang="en">
  <head>
    <title>links</title>
    <link rel="stylesheet" href="static/css/index.css" />
    
    <!-- CSS pertaining to fontawesome icon rendering -->
    <link rel="stylesheet" href="static/css/brands.css"/>
    <link rel="stylesheet" href="static/css/fontawesome.css"/>
  </head>
  <body>
    <div class="container">
    <section class="header">
      <h1 class="title">{{state.title}}</h1>
      <h3 class="subtitle">{{state.subtitle}}</h3>
    </section>
      
    <section class="links">
      {{#each state.links}}
        <a
          class="link"
          href={{this.url}}
          style="
            {{#if this.color.primary}}background: {{this.color.primary}};{{/if}}
            {{#if this.color.secondary}}color: {{this.color.secondary}};{{/if}}
          "
        >
          {{#if this.icon}}
            <div class="link-icon fab fa-{{this.icon}}"></div>
          {{/if}}

          <div class="link-content">
            <b class="link-name">{{this.name}}</b>

            {{#if this.description}}
              <p class="link-description">{{this.description}}</p class="link-description">
            {{/if}}
          </div>
        </a>
      {{/each}}
    </section>

    {{#if state.footer}}
    <section class="footer">
      <p>{{state.footer}}</p>
    </section>
    {{/if}}
  </body>
</html>